
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cập nhập danh mục: {{productCategory.Name}}</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
                    <li class="breadcrumb-item"><a ui-sref="products_categories">Danh mục</a></li>
                    <li class="breadcrumb-item active">Cập nhật</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">

    <form class="form-horizontal" novalidate name="frmUpdateProductCategory" role="form" ng-submit="UpdateProductCategory()">
        <div class="card-body">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Tên danh mục</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-change="GetSeoTitle()" required ng-maxlength="256" name="name" ng-model="productCategory.Name">
                    <span ng-show="frmAddProductCategory.name.$error.required" class="text-danger">Tên danh mục không được để trống.</span>
                    <span ng-show="frmAddProductCategory.name.$error.maxlength" class="text-danger">Tên danh mục chỉ được 256 ký tự</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Tiêu đề SEO</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" required ng-maxlength="256" name="alias" ng-model="productCategory.Alias">
                    <span ng-show="frmAddProductCategory.alias.$error.required" class="text-danger">Phải nhập tiêu đề SEO</span>
                    <span ng-show="frmAddProductCategory.alias.$error.maxlength" class="text-danger">Tiêu đề SEO chỉ được 256 ký tự</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Mô tả ngắn</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-maxlength="500" name="description" ng-model="productCategory.Description">
                    <span ng-show="frmAddProductCategory.description.$error.maxlength" class="text-danger">Mô tả ngắn chỉ được 500 ký tự</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Danh mục cha</label>
                <div class="col-sm-10">
                    <select name="parentId" class="form-control" ng-model="productCategory.ParentID" ng-options="option.ID as option.Name for option in parentCategories">
                        <option value="">Danh mục gốc</option>
                    </select>
                    <input type="hidden" name="parentId" ng-model="productCategory.ParentID" />
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Thứ tự</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" required name="displayOrder" ng-model="productCategory.DisplayOrder">
                    <span ng-show="frmAddProductCategory.displayOrder.$invalid" class="text-danger">Phải nhập thứ tự</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Hình ảnh</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" maxlength="500" name="image" ng-model="productCategory.Image">
                    <span ng-show="frmAddProductCategory.image.$error.maxlength" class="text-danger">Hình ảnh chỉ được 500 ký tự</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Meta Keyword</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" maxlength="256" name="metaKeyword" ng-model="productCategory.MetaKeyword">
                    <span ng-show="frmAddProductCategory.metaKeyword.$error.maxlength" class="text-danger">Meta Keyword chỉ được 256 ký tự</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Meta Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" maxlength="256" name="metaDescription" ng-model="productCategory.MetaDescription"></textarea>
                    <span ng-show="frmAddProductCategory.metaDescription.$error.maxlength" class="text-danger">Meta Keyword chỉ được 256 ký tự</span>
                </div>
            </div>

            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="status" ng-model="productCategory.Status" ng-checked="productCategory.Status">
                        <label class="form-check-label" for="exampleCheck2">Kích hoạt</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="homeFlag" ng-model="productCategory.HomeFlag" ng-checked="productCategory.HomeFlag">
                        <label class="form-check-label" for="exampleCheck2">Hiển thị trang chủ</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button ui-sref="products_categories" class="btn btn-default">Hủy</button>
            <button type="submit" class="btn btn-success fa-pull-right">Lưu</button>
        </div>
        <!-- /.card-footer -->
    </form>
    </div>

</section>
