<connectionStrings>
  <clear />
  <!-- can giai thich cac thuoc tinh connectionString  Data Source=.:xac dinh may local  
    Initial Catalog=TeduShop: Database  
    Integrated Security=False:can tai khoan de dang nhap server
    bang true thi khong can-->
  <add name="TeduShopConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.; Initial Catalog=TeduShopp;Integrated Security=False;User Id=sa;Password=12345;MultipleActiveResultSets=True" />
</connectionStrings>